<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Asuma_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,196}</string>
                <key>spriteSourceSize</key>
                <string>{226,196}</string>
                <key>textureRect</key>
                <string>{{460,973},{226,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chiyo_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,238}</string>
                <key>spriteSourceSize</key>
                <string>{223,238}</string>
                <key>textureRect</key>
                <string>{{1037,220},{223,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Choji_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,227}</string>
                <key>spriteSourceSize</key>
                <string>{230,227}</string>
                <key>textureRect</key>
                <string>{{683,721},{230,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Deidara_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,193}</string>
                <key>spriteSourceSize</key>
                <string>{224,193}</string>
                <key>textureRect</key>
                <string>{{1515,257},{224,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gaara_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,194}</string>
                <key>spriteSourceSize</key>
                <string>{250,194}</string>
                <key>textureRect</key>
                <string>{{242,265},{250,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Han_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,215}</string>
                <key>spriteSourceSize</key>
                <string>{238,215}</string>
                <key>textureRect</key>
                <string>{{1276,233},{238,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hidan_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,216}</string>
                <key>spriteSourceSize</key>
                <string>{271,216}</string>
                <key>textureRect</key>
                <string>{{769,0},{271,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hinata_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,253}</string>
                <key>spriteSourceSize</key>
                <string>{219,253}</string>
                <key>textureRect</key>
                <string>{{1041,0},{219,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Hiruzen_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,235}</string>
                <key>spriteSourceSize</key>
                <string>{253,235}</string>
                <key>textureRect</key>
                <string>{{0,533},{253,235}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ImmortalSasuke_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,220}</string>
                <key>spriteSourceSize</key>
                <string>{205,220}</string>
                <key>textureRect</key>
                <string>{{1502,482},{205,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ino_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,219}</string>
                <key>spriteSourceSize</key>
                <string>{263,219}</string>
                <key>textureRect</key>
                <string>{{0,1036},{263,219}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Itachi_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,164}</string>
                <key>spriteSourceSize</key>
                <string>{214,164}</string>
                <key>textureRect</key>
                <string>{{1106,444},{214,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jiraiya_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,202}</string>
                <key>spriteSourceSize</key>
                <string>{239,202}</string>
                <key>textureRect</key>
                <string>{{647,248},{239,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jugo_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,232}</string>
                <key>spriteSourceSize</key>
                <string>{237,232}</string>
                <key>textureRect</key>
                <string>{{443,502},{237,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,222}</string>
                <key>spriteSourceSize</key>
                <string>{232,222}</string>
                <key>textureRect</key>
                <string>{{460,740},{232,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakuzu_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,186}</string>
                <key>spriteSourceSize</key>
                <string>{223,186}</string>
                <key>textureRect</key>
                <string>{{850,217},{223,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kankuro_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,221}</string>
                <key>spriteSourceSize</key>
                <string>{238,221}</string>
                <key>textureRect</key>
                <string>{{220,1036},{238,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Karin_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,208}</string>
                <key>spriteSourceSize</key>
                <string>{192,208}</string>
                <key>textureRect</key>
                <string>{{1110,1080},{192,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kiba_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,239}</string>
                <key>spriteSourceSize</key>
                <string>{248,239}</string>
                <key>textureRect</key>
                <string>{{0,787},{248,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kimimaro_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,254}</string>
                <key>spriteSourceSize</key>
                <string>{241,254}</string>
                <key>textureRect</key>
                <string>{{280,0},{241,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisame_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,196}</string>
                <key>spriteSourceSize</key>
                <string>{223,196}</string>
                <key>textureRect</key>
                <string>{{913,905},{223,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Konan_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,190}</string>
                <key>spriteSourceSize</key>
                <string>{161,190}</string>
                <key>textureRect</key>
                <string>{{1107,659},{161,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lee_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,210}</string>
                <key>spriteSourceSize</key>
                <string>{232,210}</string>
                <key>textureRect</key>
                <string>{{676,488},{232,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Minato_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,209}</string>
                <key>spriteSourceSize</key>
                <string>{246,209}</string>
                <key>textureRect</key>
                <string>{{437,255},{246,209}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Nagato_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,208}</string>
                <key>spriteSourceSize</key>
                <string>{202,208}</string>
                <key>textureRect</key>
                <string>{{1110,871},{202,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Naruto_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,181}</string>
                <key>spriteSourceSize</key>
                <string>{184,181}</string>
                <key>textureRect</key>
                <string>{{1509,1087},{184,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Neji_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,219}</string>
                <key>spriteSourceSize</key>
                <string>{225,219}</string>
                <key>textureRect</key>
                <string>{{687,952},{225,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Orochimaru_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,215}</string>
                <key>spriteSourceSize</key>
                <string>{210,215}</string>
                <key>textureRect</key>
                <string>{{1269,660},{210,215}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Pain_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,195}</string>
                <key>spriteSourceSize</key>
                <string>{231,195}</string>
                <key>textureRect</key>
                <string>{{911,673},{231,195}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RikudoNaruto_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,264}</string>
                <key>spriteSourceSize</key>
                <string>{279,264}</string>
                <key>textureRect</key>
                <string>{{0,0},{279,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RockLee_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,210}</string>
                <key>spriteSourceSize</key>
                <string>{232,210}</string>
                <key>textureRect</key>
                <string>{{676,488},{232,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Roshi_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,267}</string>
                <key>spriteSourceSize</key>
                <string>{241,267}</string>
                <key>textureRect</key>
                <string>{{0,265},{241,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SageJiraiya_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,202}</string>
                <key>spriteSourceSize</key>
                <string>{182,202}</string>
                <key>textureRect</key>
                <string>{{1523,884},{182,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SageNaruto_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,228}</string>
                <key>spriteSourceSize</key>
                <string>{218,228}</string>
                <key>textureRect</key>
                <string>{{887,444},{218,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sai_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,186}</string>
                <key>spriteSourceSize</key>
                <string>{209,186}</string>
                <key>textureRect</key>
                <string>{{1313,884},{209,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sakura_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,185}</string>
                <key>spriteSourceSize</key>
                <string>{161,185}</string>
                <key>textureRect</key>
                <string>{{913,1129},{161,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sasuke_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,210}</string>
                <key>spriteSourceSize</key>
                <string>{230,210}</string>
                <key>textureRect</key>
                <string>{{1271,449},{230,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shikamaru_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,238}</string>
                <key>spriteSourceSize</key>
                <string>{206,238}</string>
                <key>textureRect</key>
                <string>{{236,533},{206,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shino_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,256}</string>
                <key>spriteSourceSize</key>
                <string>{169,256}</string>
                <key>textureRect</key>
                <string>{{1538,0},{169,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Suigetsu_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,200}</string>
                <key>spriteSourceSize</key>
                <string>{189,200}</string>
                <key>textureRect</key>
                <string>{{1319,1071},{189,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tenten_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,216}</string>
                <key>spriteSourceSize</key>
                <string>{180,216}</string>
                <key>textureRect</key>
                <string>{{1485,703},{180,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tobi_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,232}</string>
                <key>spriteSourceSize</key>
                <string>{242,232}</string>
                <key>textureRect</key>
                <string>{{1295,0},{242,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tobirama_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,219}</string>
                <key>spriteSourceSize</key>
                <string>{238,219}</string>
                <key>textureRect</key>
                <string>{{240,772},{238,219}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tsunade_CutIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,247}</string>
                <key>spriteSourceSize</key>
                <string>{246,247}</string>
                <key>textureRect</key>
                <string>{{522,0},{246,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Ougis2.png</string>
            <key>size</key>
            <string>{1708,1299}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1753b27f4409df21e118889844d0b460:b749e51e0091531c9c58ad7d53972c30:e3c3161075e594ab2abf9ef6e2cb229b$</string>
            <key>textureFileName</key>
            <string>Ougis2.png</string>
        </dict>
    </dict>
</plist>
