<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Asuma_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.39,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,228}</string>
                <key>spriteSourceSize</key>
                <string>{232,228}</string>
                <key>textureRect</key>
                <string>{{1584,1089},{212,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Chiyo_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,229}</string>
                <key>spriteSourceSize</key>
                <string>{234,229}</string>
                <key>textureRect</key>
                <string>{{235,506},{234,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Choji_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,228}</string>
                <key>spriteSourceSize</key>
                <string>{234,228}</string>
                <key>textureRect</key>
                <string>{{235,741},{234,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Deidara_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,228}</string>
                <key>spriteSourceSize</key>
                <string>{231,228}</string>
                <key>textureRect</key>
                <string>{{1610,229},{231,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gaara_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,228}</string>
                <key>spriteSourceSize</key>
                <string>{234,228}</string>
                <key>textureRect</key>
                <string>{{235,976},{234,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Hidan_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,228}</string>
                <key>spriteSourceSize</key>
                <string>{206,228}</string>
                <key>textureRect</key>
                <string>{{1380,469},{206,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hinata_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,228}</string>
                <key>spriteSourceSize</key>
                <string>{190,228}</string>
                <key>textureRect</key>
                <string>{{1575,1302},{190,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Hinata_full2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,228}</string>
                <key>spriteSourceSize</key>
                <string>{234,228}</string>
                <key>textureRect</key>
                <string>{{235,1211},{234,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Hiruzen_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,228}</string>
                <key>spriteSourceSize</key>
                <string>{234,228}</string>
                <key>textureRect</key>
                <string>{{464,741},{234,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ImmortalSasuke_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,228}</string>
                <key>spriteSourceSize</key>
                <string>{234,228}</string>
                <key>textureRect</key>
                <string>{{465,506},{234,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ino_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,228}</string>
                <key>spriteSourceSize</key>
                <string>{220,228}</string>
                <key>textureRect</key>
                <string>{{1587,652},{220,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ino_full2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,228}</string>
                <key>spriteSourceSize</key>
                <string>{234,228}</string>
                <key>textureRect</key>
                <string>{{470,0},{234,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Itachi_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,228}</string>
                <key>spriteSourceSize</key>
                <string>{195,228}</string>
                <key>textureRect</key>
                <string>{{1151,1342},{195,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jiraiya_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,228}</string>
                <key>spriteSourceSize</key>
                <string>{234,228}</string>
                <key>textureRect</key>
                <string>{{470,235},{234,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jugo_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,228}</string>
                <key>spriteSourceSize</key>
                <string>{234,228}</string>
                <key>textureRect</key>
                <string>{{464,976},{234,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kakashi_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,228}</string>
                <key>spriteSourceSize</key>
                <string>{232,228}</string>
                <key>textureRect</key>
                <string>{{1610,0},{232,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kakuzu_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,228}</string>
                <key>spriteSourceSize</key>
                <string>{234,228}</string>
                <key>textureRect</key>
                <string>{{464,1211},{234,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kankuro_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,228}</string>
                <key>spriteSourceSize</key>
                <string>{234,228}</string>
                <key>textureRect</key>
                <string>{{693,741},{234,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Karin_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,227}</string>
                <key>spriteSourceSize</key>
                <string>{164,227}</string>
                <key>textureRect</key>
                <string>{{1843,0},{164,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Karin_full2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,228}</string>
                <key>spriteSourceSize</key>
                <string>{234,228}</string>
                <key>textureRect</key>
                <string>{{694,470},{234,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kiba_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,228}</string>
                <key>spriteSourceSize</key>
                <string>{205,228}</string>
                <key>textureRect</key>
                <string>{{1380,698},{205,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kimimaro_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,204}</string>
                <key>spriteSourceSize</key>
                <string>{234,204}</string>
                <key>textureRect</key>
                <string>{{1157,235},{234,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kisame_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,228}</string>
                <key>spriteSourceSize</key>
                <string>{234,228}</string>
                <key>textureRect</key>
                <string>{{699,0},{234,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Konan_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,226}</string>
                <key>spriteSourceSize</key>
                <string>{188,226}</string>
                <key>textureRect</key>
                <string>{{1151,940},{188,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Konan_full2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,228}</string>
                <key>spriteSourceSize</key>
                <string>{144,228}</string>
                <key>textureRect</key>
                <string>{{922,1410},{144,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Lee_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,228}</string>
                <key>spriteSourceSize</key>
                <string>{214,228}</string>
                <key>textureRect</key>
                <string>{{1816,846},{214,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Minato_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,228}</string>
                <key>spriteSourceSize</key>
                <string>{213,228}</string>
                <key>textureRect</key>
                <string>{{1815,1075},{213,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nagato_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,228}</string>
                <key>spriteSourceSize</key>
                <string>{215,228}</string>
                <key>textureRect</key>
                <string>{{1586,873},{215,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Naruto_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,228}</string>
                <key>spriteSourceSize</key>
                <string>{233,228}</string>
                <key>textureRect</key>
                <string>{{1362,235},{233,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Neji_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,228}</string>
                <key>spriteSourceSize</key>
                <string>{234,228}</string>
                <key>textureRect</key>
                <string>{{699,235},{234,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Orochimaru_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,228}</string>
                <key>spriteSourceSize</key>
                <string>{204,228}</string>
                <key>textureRect</key>
                <string>{{1379,927},{204,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pain_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,228}</string>
                <key>spriteSourceSize</key>
                <string>{234,228}</string>
                <key>textureRect</key>
                <string>{{693,976},{234,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RikudoNaruto_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,228}</string>
                <key>spriteSourceSize</key>
                <string>{234,228}</string>
                <key>textureRect</key>
                <string>{{693,1211},{234,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SageJiraiya_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,228}</string>
                <key>spriteSourceSize</key>
                <string>{234,228}</string>
                <key>textureRect</key>
                <string>{{922,705},{234,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SageNaruto_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,227}</string>
                <key>spriteSourceSize</key>
                <string>{234,227}</string>
                <key>textureRect</key>
                <string>{{1151,705},{234,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sai_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,228}</string>
                <key>spriteSourceSize</key>
                <string>{190,228}</string>
                <key>textureRect</key>
                <string>{{1804,1304},{190,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sakura_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,229}</string>
                <key>spriteSourceSize</key>
                <string>{193,229}</string>
                <key>textureRect</key>
                <string>{{1591,458},{193,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sakura_full2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,228}</string>
                <key>spriteSourceSize</key>
                <string>{234,228}</string>
                <key>textureRect</key>
                <string>{{923,470},{234,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sasuke_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,228}</string>
                <key>spriteSourceSize</key>
                <string>{234,228}</string>
                <key>textureRect</key>
                <string>{{928,0},{234,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shikamaru_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,223}</string>
                <key>spriteSourceSize</key>
                <string>{234,223}</string>
                <key>textureRect</key>
                <string>{{1157,0},{234,223}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shino_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,227}</string>
                <key>spriteSourceSize</key>
                <string>{234,227}</string>
                <key>textureRect</key>
                <string>{{1152,470},{234,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Suigetsu_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,228}</string>
                <key>spriteSourceSize</key>
                <string>{194,228}</string>
                <key>textureRect</key>
                <string>{{1380,1156},{194,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tenten_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,227}</string>
                <key>spriteSourceSize</key>
                <string>{188,227}</string>
                <key>textureRect</key>
                <string>{{1842,389},{188,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tenten_full2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,228}</string>
                <key>spriteSourceSize</key>
                <string>{208,228}</string>
                <key>textureRect</key>
                <string>{{1821,617},{208,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tobi_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,228}</string>
                <key>spriteSourceSize</key>
                <string>{233,228}</string>
                <key>textureRect</key>
                <string>{{1381,0},{233,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tobirama_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,228}</string>
                <key>spriteSourceSize</key>
                <string>{234,228}</string>
                <key>textureRect</key>
                <string>{{928,235},{234,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tsunade_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,228}</string>
                <key>spriteSourceSize</key>
                <string>{234,228}</string>
                <key>textureRect</key>
                <string>{{922,940},{234,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tsunade_full2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,228}</string>
                <key>spriteSourceSize</key>
                <string>{234,228}</string>
                <key>textureRect</key>
                <string>{{922,1175},{234,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bonds_mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,19}</string>
                <key>spriteSourceSize</key>
                <string>{18,19}</string>
                <key>textureRect</key>
                <string>{{443,1446},{18,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>change_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,21}</string>
                <key>spriteSourceSize</key>
                <string>{75,21}</string>
                <key>textureRect</key>
                <string>{{175,1518},{75,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>change_btn2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,19}</string>
                <key>spriteSourceSize</key>
                <string>{73,19}</string>
                <key>textureRect</key>
                <string>{{372,1446},{73,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>detail_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,26}</string>
                <key>spriteSourceSize</key>
                <string>{101,26}</string>
                <key>textureRect</key>
                <string>{{0,1518},{101,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,21}</string>
                <key>spriteSourceSize</key>
                <string>{62,21}</string>
                <key>textureRect</key>
                <string>{{355,1526},{62,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>golds_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,19}</string>
                <key>spriteSourceSize</key>
                <string>{19,19}</string>
                <key>textureRect</key>
                <string>{{418,1525},{19,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>golds_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,19}</string>
                <key>spriteSourceSize</key>
                <string>{19,19}</string>
                <key>textureRect</key>
                <string>{{438,1525},{19,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,16}</string>
                <key>spriteSourceSize</key>
                <string>{60,16}</string>
                <key>textureRect</key>
                <string>{{409,1446},{60,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,16}</string>
                <key>spriteSourceSize</key>
                <string>{61,16}</string>
                <key>textureRect</key>
                <string>{{392,1446},{61,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,16}</string>
                <key>spriteSourceSize</key>
                <string>{61,16}</string>
                <key>textureRect</key>
                <string>{{392,1508},{61,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,16}</string>
                <key>spriteSourceSize</key>
                <string>{60,16}</string>
                <key>textureRect</key>
                <string>{{426,1446},{60,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_ss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,16}</string>
                <key>spriteSourceSize</key>
                <string>{70,16}</string>
                <key>textureRect</key>
                <string>{{235,1446},{70,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_sss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,16}</string>
                <key>spriteSourceSize</key>
                <string>{79,16}</string>
                <key>textureRect</key>
                <string>{{355,1446},{79,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>return_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,26}</string>
                <key>spriteSourceSize</key>
                <string>{72,26}</string>
                <key>textureRect</key>
                <string>{{102,1518},{72,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,252}</string>
                <key>spriteSourceSize</key>
                <string>{234,252}</string>
                <key>textureRect</key>
                <string>{{0,0},{234,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,252}</string>
                <key>spriteSourceSize</key>
                <string>{234,252}</string>
                <key>textureRect</key>
                <string>{{0,253},{234,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,252}</string>
                <key>spriteSourceSize</key>
                <string>{234,252}</string>
                <key>textureRect</key>
                <string>{{0,506},{234,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bg4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,252}</string>
                <key>spriteSourceSize</key>
                <string>{234,252}</string>
                <key>textureRect</key>
                <string>{{0,759},{234,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bg5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,252}</string>
                <key>spriteSourceSize</key>
                <string>{234,252}</string>
                <key>textureRect</key>
                <string>{{0,1012},{234,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bg6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,252}</string>
                <key>spriteSourceSize</key>
                <string>{234,252}</string>
                <key>textureRect</key>
                <string>{{0,1265},{234,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_blink1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{-0.17,-0.26}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{234,252}</string>
                <key>textureRect</key>
                <string>{{252,1446},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_blink2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.12,0.03}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{234,252}</string>
                <key>textureRect</key>
                <string>{{1843,228},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_blink3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.38,0.29}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{212,212}</string>
                <key>spriteSourceSize</key>
                <string>{234,252}</string>
                <key>textureRect</key>
                <string>{{1151,1129},{212,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_blink4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.51}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,252}</string>
                <key>spriteSourceSize</key>
                <string>{234,252}</string>
                <key>textureRect</key>
                <string>{{235,0},{234,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_blink5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.95,1.04}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{234,252}</string>
                <key>textureRect</key>
                <string>{{1380,1385},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_blink6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-115.5,124.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{234,252}</string>
                <key>textureRect</key>
                <string>{{0,1545},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,252}</string>
                <key>spriteSourceSize</key>
                <string>{234,252}</string>
                <key>textureRect</key>
                <string>{{235,253},{234,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Record.png</string>
            <key>size</key>
            <string>{2030,1554}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2ba3a90c9af077641b2afa9c43c7a18:a2621ead272c2675b51ce304840e19b9:1d1cc2c1207ace6940f7d0186a59f6e2$</string>
            <key>textureFileName</key>
            <string>Record.png</string>
        </dict>
    </dict>
</plist>
